{% extends "_base.html" %}
{% block head-content %}
{% load static %}

{% endblock %}
{% block body-content %}
<div class="container_main">
    <div class = "name">
        <h1 class = "double_quote main_font bold_font">정치 기사 분석</h1>
        <p>기사를 통해 추출한 데이터를 통한 분석</p>   
        <hr />
    </div>
    <div class="w3-panel w3-leftbar w3-border-blue">
        <h3>I have a thick blue left border.</h3>
        <iframe src = "https://public.tableau.com/views/_17496053044190/1?:language=ko-KR&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width = "800" height = "700"> </iframe> <iframe src = "https://public.tableau.com/views/tableau_17494519442480/3?:language=ko-KR&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width="800" height="700"> </iframe>
        <iframe src= "https://public.tableau.com/views/top100_17494355497240/top100?:language=ko-KR&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width="800" height="700"> </iframe> <iframe src = "https://public.tableau.com/views/top100_17494359829170/top100?:language=ko-KR&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width="800" height="700"> </iframe>
        <img class = "img_margin" src = "{% static 'image/진보 단어구름.png' %}" width = "600" height = "400" margin-right = "50px"> <img src = "{% static 'image/보수 단어구름.png' %}" width = "600" height = "400">
        <iframe src= "https://public.tableau.com/views/_17494543505970/1?:language=ko-KR&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width="800" height="700"> </iframe> <iframe src= "https://public.tableau.com/views/_17494543591890/1?:language=ko-KR&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width="800" height="700"></iframe>
        <iframe src= "https://public.tableau.com/views/_17495419618990/1?:language=ko-KR&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width="1600" height="550"> </iframe> 
        <iframe src= "https://public.tableau.com/views/_17495417705680/1?:language=ko-KR&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width="1600" height="550"></iframe>
        <iframe src = "https://public.tableau.com/views/_17496263752680/1?:language=ko-KR&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" width = "1600" height = "600"></iframe>
    </div>
</div>

{% endblock %}