{% extends "_base.html" %}
{% block head-content %}

{% endblock %}
{% block body-content %}

<div class="container_main">
    <div class = "name">
        <h1 class = "double_quote main_font bold_font">정치 기사 생성</h1>
        <p>원하는 문장 혹은 문장의 도입을 입력하여 기사로 생성해보세요!</p>
        <p>ex₁) 참 많은 시간이 흘렀다고 생각했다.</br>ex₂) 부산 광안리에서</p>
        <hr/>
    </div>
    <div class = "contents">
        <div class = "block">
            <form method="GET" class="form_container">    
                <textarea id = "user_textarea" class="input text_area" cols="5" rows="10" name="text" type="text" required>{{text}}</textarea>
                <div class = "user_select">
                    <div class = "select_box">
                        <h5 class="radio_name">성향 선택</h5>
                        {{ onoffform.on_off }}
                    </div>
                    <div class = "select_box">
                        <h5 class="radio_name">기사 길이 (토큰 수)</h5>
                        <!--input range 입력-->
                        <input class = "input_range" type="range" name="length" min=0 max=700 value=200 step=1 oninput="showVal(this.value);">
                        <!--input range 출력-->
                        <span id="scoreTxt">200</span>                        
                        <script>
                            // range 값 변경 시 즉시 반영
                            function showVal(val) {
                                document.getElementById('scoreTxt').innerHTML=val; 
                            }
                        </script>
                    </div>
                    <div class = "sc_btn_lst">
                        <button id = "clear_button" onclick="clearTextarea()" class="bold_font input_btn" type="button">지우기</button>
                        <script>
                            function clearTextarea() {
                                document.getElementById("user_textarea").value = '';
                            };
                        </script>
                        <button class="bold_font input_btn" type="submit">생성</button>
                    </div>
                </div>   
            </form>
        </div>
        <div class = "sc_block_result">
            <blockquote
            {% if generated_j %}
            class = "sc_result_container jinbo_result"
            {% elif generated_b %}
            class = "sc_result_container bosu_result"
            {% else %}
            class = "sc_result_container none_result"
            {% endif %}>
                <div class = "sc_text_area">
                    <p class = "text_center_center">
                        {% if generated_j %}
                            {{generated_j}}
                        {% elif generated_b %}
                            {{generated_b}}
                        {% else %}
                        {% endif %}
                    </p>
                </div>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}