{% extends "_base.html" %}
{% block head-content %}

{% endblock %}
{% block body-content %}

<!-- Header -->
<header class="container header text_center">
<!-- <header class="w3-container w3-grey w3-center" style="padding:128px 16px"> -->
  <!-- <h1 class="w3-margin header_font" style="color: whitesmoke; "><span style = "color: black;">D</span>e <span style = "color: rgb(88, 88, 88);">D</span>en <span style = "color: white;">Z</span>zi</h1> -->
  <!-- <p class="header_p">정치적 진영에 대한 사이트</p> -->
</header>

<!-- First Grid -->
<div class="w3-row-padding padding_30 container">
  <div class="content">
    <blockquote class="grapefruit">
      <div class = "quote-text">
      <h1><span class="Cgrapefruit main_font bold_font">정치 기사</span>를 분석하다</h1>
      <!-- <p class="main_font">2024/12/3 계엄령 사건 이후 진보/보수 양 진영 대표 신문사의 정치면에 작성된 기사에 대한 분석</p> -->
      <h5 class = "bold_font" style = "color: #da4453;">비상계엄 사태를 기점으로 한 진보 · 보수 언론의 신문기사 보도 양상 분석</h5>
      <p class="main_font"> - 정치 이슈 발생 시기와 발행 기사수는 관련이 있을까?</p>
      <p class="main_font"> - 진보와 보수는 같은 시기를 어떻게 다르게 보도했을까?</p>
      <p class="main_font"> - 진영별 자주 등장한 키워드는 무엇이며 어떤 의미를 가질까?</p>
      <p class="main_font"> - 진영에 따라 키워드 언급량에 차이가 있을까?</p>
      <p class="main_font"> - 진영을 명확하게 구분짓는 핵심키워드는 무엇일까?</p>

      </div>
      <div class = "quote-icon">
        <i class="fa fa-bar-chart" style="font-size:220px; color:rgb(202, 0, 0);"></i>
      </div>
    </blockquote>
  </div>     
</div>

<!-- Second Grid -->
<div class="w3-row-padding padding_30 container">
  <div class="content">
    <blockquote class="bluejeans">
      <div class = "quote-icon">
        <i class="fa fa-font" style="font-size:220px;color:rgb(51, 51, 255)"></i>
      </div>
      <div class = "quote-text">
        <h1>정치 기사에 <span class = "Cbluejeans main_font bold_font">AI를 더하다</span></h1>
        <h5 class = "bold_font" style = "color: #4b8ad6;">분석한 기사로 학습된 다양한 AI 모델</h5>
        <p class="main_font">DeDenZzi는 정치기사 성향 확인 및 변경, 생성 기능을 지원합니다.</p>
        <p class="main_font">- Classifier : 기사 성향 확인</p>
        <p class="main_font">- Switch : 기사 성향 변경</p>
        <p class="main_font">- Create : 작성한 문장 기반 신문기사 생성</p>
      </div>
    </blockquote>
  </div>
</div>
{% endblock %}
