<!-- Navbar -->
<div class="top">
    <div class="nav_font nav_shadow nav_bar left-align">
      <a class="w3-bar-item nav_btn nav_hidden_m nav_hidden_l right w3-hover-white text_large" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/" class="nav_btn">DeDenZzi</a>
      <a href="{% url 'analysis:analysis' %}" class="w3-bar-item nav_btn nav_hidden_s">Analysis</a>
      <a href="{% url 'classifier_1:classifier_1' %}" class="w3-bar-item nav_btn nav_hidden_s nav_hover_btn">Classifier</a>
      <a href="{% url 'switch_sides_2:switch_sides_2' %}" class="w3-bar-item nav_btn nav_hidden_s nav_hover_btn">Switch</a>
      <a href="{% url 'create_3:create_3' %}" class="w3-bar-item nav_btn nav_hidden_s nav_hover_btn">Create</a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block nav_white nav_font nav_hide nav_hidden_l nav_hidden_m text_large">
      <a href="{% url 'analysis:analysis' %}" class="w3-bar-item nav_btn_mini ">Analysis</a>
      <a href="{% url 'classifier_1:classifier_1' %}" class="w3-bar-item nav_btn_mini ">Classifier</a>
      <a href="{% url 'switch_sides_2:switch_sides_2' %}" class="w3-bar-item nav_btn_mini ">Switch</a>
      <a href="{% url 'create_3:create_3' %}" class="w3-bar-item nav_btn_mini ">Create</a>
    </div>
  </div>

  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    // nav active 시 hover 상태 유지
    document.querySelectorAll('.nav_btn').forEach(el => {
      if (el.getAttribute('href') === window.location.pathname) {
        el.classList.add('active');
      }
    });
  </script>